body
  font-family: Arial, sans-serif
  margin: 0
  padding: 0
  min-width: 100vw
  min-height: 100vh

span
    margin-left: 10px

    &.private
        color: red
    
    &.public
        color: green